$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';


div {
  border: 1px solid #000;
}

article {
  @include make-row();
  section{
    @include make-xs-column(4);
    border: 1px solid black;
  }
}

.container-fluid {
  background-color: green;
}

.orange {
  background-image: url('http://i.imgur.com/r48AQeq.png')
}

.apple {
  background-image: url('http://i.imgur.com/dJRz8BQ.png');
}
